<%= turbo_frame_tag child do %>
  <div class="child">
    <%= turbo_frame_tag dom_id(child, :edit) do %>
      <div class="child__header">
        <h2 class="child__title">
          <%= child.name %>
        </h2>
        <h3 class="child__title">
          <%= l(child.date_of_birth, format: :long) %>
        </h3>

        <div class="child__actions">
            <%= button_to "Delete",
                        parent_child_path(parent, child),
                        method: :delete,
                        form: { data: { turbo_confirm: "Are you sure?" } },
                        class: "btn btn--light" %>

            <%= link_to "Edit",
                    [:edit, parent, child],
                    class: "btn btn--light" %>
        </div>
      </div>
    <% end %>
    
    <div class="child__body">
      <div class="visit visit--header">
        <div class="visit__created">Created</div>
        <div class="visit__visited">Visited</div>
        <div class="visit__physician">Physician</div>
        <div class="visit__actions"></div>
      </div>

      <%= turbo_frame_tag nested_dom_id(child, "visits") do %>
        <%= render child.visits.ordered, parent: parent, child: child %>
      <% end %>
      
      <%= turbo_frame_tag nested_dom_id(child, Visit.new) %>

      <div class="child__footer">
        <%= link_to "Add visit",
                    [:new, parent, child, :visit],
                    data: { turbo_frame: nested_dom_id(child, Visit.new) },
                    class: "btn btn--primary" %>
      </div>
    </div>
  </div>
<% end %>