<%= turbo_frame_tag child do %>
  <div class="child">
    <%= turbo_frame_tag dom_id(child, :edit) do %>
      <div class="child__header">
        <h2 class="child__title">
          <%= child.name %>
        </h2>
        <h3 class="child__title">
          <%= l(child.date_of_birth, format: :long) %>
        </h3>

        <div class="child__actions">
            <%= button_to "Delete",
                        parent_child_path(parent, child),
                        method: :delete,
                        form: { data: { turbo_confirm: "Are you sure?" } },
                        class: "btn btn--light" %>

            <%= link_to "Edit",
                    [:edit, parent, child],
                    class: "btn btn--light" %>
        </div>
      </div>
    <% end %>
    
  </div>
<% end %>