<%= turbo_frame_tag visit do %>
  <div class="visit">
    <div class="visit__name">
      <%= visit.child.name %>
      <div class="visit__symptoms">
        <%= simple_format visit.symptoms %>
      </div>
    </div>
    <div class="visit__created">
      <%= visit.created_at %>
    </div>
    <div class="visit__visited">
      <%= visit.visited_at || 'Waiting' %>
    </div>
    <div class="visit__physician">
      <%= visit.physician&.name %>
    </div>
    <div class="visit__actions">
      <%= button_to "Cancel",
                    [parent, visit],
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  [:edit, parent, visit],
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>