<main class="container">
  <%= link_to sanitize("&larr; Back to physician"), physicians_path %>
  <div class="header">
    <h1>
      <%= @physician.name %>
    </h1>
  </div>

  <div class="physician__visit-body">
    <h2>
      Visits
    </h2>
    <div class="visit visit--header">
      <div class="visit__name">Parent and Child Names</div>
      <div class="visit__created">Created</div>
      <div class="visit__visited">Visited</div>
    </div>

    <% @physician.visits.ordered.each do |visit| %>
      <div class="visit">
        <div class="visit__name">
          <%= visit.parent_child_names %>
          <div class="visit__symptoms">
            <%= visit.symptoms %>
          </div>
        </div>
        <div class="visit__created">
          <%= visit.created_at %>
        </div>
        <div class="visit__visited">
          <%= visit.visited_at || 'Waiting' %>
        </div>
      </div>
    <% end %>
  </div>
</main>

<%= turbo_frame_tag dom_id(@physician, :total) do %>
  <%= render "physicians/total", physician: @physician %>
<% end %>
